/* Elice theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #999999;
}

/* Pink */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #e6556c;
}

/* Turq */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #63c2c2;
}

/* Yellow */
.hljs-attribute {
  color: #f6c241;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #91c200;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #00add9;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7979d3;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


/* Comment */

/* Red --> Pink */

/* Orange --> Turq */

/* Yellow */

/* Green */

/* Blue */

/* Purple */